@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth !important;
    min-width: auto;
    font-family: 'Poppins';
}

h1 {
    font-weight: 600;
    font-size: 30px;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    /* or css grid for more intricate layouts */
    flex-direction: column;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 30px;
    background: linear-gradient(263.42deg, #43A1F6 30.16%, rgba(146, 67, 246, 0.42) 54.5%, rgba(255, 0, 0, 0.29) 80.14%);
}

.profile-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    width: 100%;
    height: fit-content;
    color: white;
    text-align: center;
    line-height: 100px;
    gap: 16px;
}

.btn-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: fit-content;
    height: 41px;
    margin-top: 10px;
    background: #4581DA;
    border-radius: 10px;
    color: white;
    text-align: center;
    letter-spacing: 0.01em;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.btn-primary:hover {
    background-color: white;
    color: #4581DA;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-name: btn-primary;
}

@keyframes btn-primary {
    from {
        background: #4581DA;
    }
    to {
        background: white;
    }
}

.timer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.timer h2 {
    background: linear-gradient(263.42deg, #43A1F6 30.16%, rgba(146, 67, 246, 0.42) 54.5%, rgba(255, 0, 0, 0.29) 80.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.timer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 16px;
    width: fit-content;
    height: fit-content;
}

.timer-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    justify-content: center;
}

main {
    max-width: 100%;
    display: flex;
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 20%;
    flex-direction: column;
    justify-content: center;
}

section {
    position: relative;
    width: 100%;
    height: max-content;
    gap: 10px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #43A1F6;
    /* Inside auto layout */
}

section .main-row h2 {
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;
    background: linear-gradient(263.42deg, #43A1F6 30.16%, rgba(146, 67, 246, 0.42) 54.5%, rgba(255, 0, 0, 0.29) 80.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: max-content;
    /* Inside auto layout */
    gap: 10px;
}

.main-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0px;
    width: fit-content;
    text-align: center;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    /* Inside auto layout */
}

.main-col .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    /* Inside auto layout */
    ;
}

#subhan {
    width: 39px;
    height: 34px
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
    height: fit-content;
    padding-right: 20%;
    padding-left: 20%;
    /* Gradien 1 */
    background: linear-gradient(263.42deg, #43A1F6 30.16%, rgba(146, 67, 246, 0.42) 54.5%, rgba(255, 0, 0, 0.29) 80.14%);
}

footer .col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: white;
    margin: 20px auto;
    flex-wrap: wrap;
}

footer .col>a,
p {
    text-align: left;
    width: fit-content;
}

footer .col object {
    pointer-events: none;
}

.img-bismillah {
    width: 446;
    height: 66;
}

#imgProfile {
    pointer-events: none;
}

@media (max-width: 1000px),
screen and (max-height: 800px) {
    html {
        scroll-behavior: smooth !important;
        min-width: auto;
        font-family: 'Poppins';
    }
    header {
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 20%;
        padding-bottom: 20%;
        margin: 0;
        gap: 50px;
    }
    .img-bismillah {
        width: 246px;
        height: 66px;
    }
    #subhan {
        width: 21px;
        height: 18px
    }
    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Poppins';
    }
    .timer {
        margin-top: 20px;
        margin-bottom: 30px;
        height: min-content;
        gap: 20px;
        padding: 0.8rem;
    }
    .timer h2 {
        font-weight: 600;
        font-size: 16px;
    }
    main {
        padding-right: 10%;
        padding-left: 10%;
    }
    .main-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 52px;
        padding: 0%;
        width: 100%;
        height: 167px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    footer {
        padding-right: 10%;
        padding-left: 10%;
    }
    footer .col {
        font-weight: 400;
        font-size: 10px;
        gap: 20px;
        text-align: right;
    }
    footer object {
        width: 20px;
    }
}